<%- include ('partials/header'); -%>
<center>
  <div>
    <h4>welcom Home</h4>
    <a class="btn btn-primary" href="/login" role="button">Login</a>
  </div>
</center>
<%- include ('partials/footer'); -%>
